<p>Hi {{ toEmail }},</p>

<p>The Crypto Registry Network has verified the following Bitcoin holdings:</p>

<ul>
    {{#each verifiedHoldings}}
        <li>{{this.customerHoldingAmount}} bitcoin held at {{this.exchangeName}} verified on {{ this.submissionDate }}.</li>
    {{/each}}
</ul>

<p>This email was sent by {{ verificationNodeName }} at {{ verificationNodeAddress}}.</p>

<p>Thanks,</p>
<p>The Crypto Registry</p>
